*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.selections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: .1s;
}

.selection:hover {
    transform: scale(1.25);
}

.results {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    color: #ffb703;
    font-weight: bold;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 35px;
}

#reloadButton {
    cursor: pointer;
    font-size: 17.5px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 2.5px solid #ffb703;
    transition: .5s;
    margin-top: 1.5rem;
}

#reloadButton:hover {
    background-color: #ffb703;
    color: #fff;
}

#reloadButton:active {
    box-shadow: 4px 3px #666;
    transform: translateY(3px);
}